[2020-09-25 21:22] gregwhorley opened #59 "Getting "chart not found" error when deploying cluster-overprovisioner chart through terraform"
I am trying to update a cluster-overprovisioner helm release so that it pulls the chart from deliveryhero. The current release is configured to pull an old chart version "0.2.6" from "https://kubernetes-charts.storage.googleapis.com". I have changed the `helm_release` resource so that it pulls the overprovisioner chart from deliveryhero instead:

[code]

Terraform returns an error during apply:
Er

[2020-09-28 09:20] mmingorance-dh commented on #59
@gregwhorley  please remove `deliveryhero` from the `chart` field.
`https://charts.deliveryhero.io/` already points to our Helm Registry, therefore `deliveryhero` is not needed in the name of the chart.

[2020-09-28 09:20] mmingorance-dh commented on #59
@gregwhorley I just tested this locally and running the following configuration works:
[code]

[2020-11-20 19:55] KaneRodriguez opened #77 "[stable/locust] Passing arguments to the master/worker docker-entrypoint.sh scripts"
I have args that I want to pass to the `docker-entrypoint.sh` scripts ran on both the master and worker pods.

Can either the [configmap-config.yaml](https://github.com/deliveryhero/helm-charts/blob/68cd7b7a72fdc9ed91fd2fd635111aadf14f09c7/stable/locust/templates/configmap-config.yaml) or the [worker/master-deployment.yaml](https://github.com/deliveryhero/helm-charts/blob/68cd7b7a72fdc9ed91fd2fd63

[2020-11-23 16:49] max-rocket-internet commented on #77
I actually have this already in a branch. I'll push it and create a PR.

[2020-11-24 14:12] #77 closed

[2020-11-24 14:12] max-rocket-internet commented on #77
@KaneRodriguez let me know if the merged PR doesn't work for you.

[2020-12-07 15:26] oded-dd opened #92 "Add namespace support"
The chart as built today does not allow a user to decide the namespace the chart should be deployed in.

This should be added as part of the metadata to support different namespace then the `default` namespace

[2020-12-07 15:29] #92 closed

[2020-12-07 15:29] oded-dd commented on #92
Helm supports it as part of the deployment

[2020-12-07 15:58] max-rocket-internet commented on #92
Exactly. You also didn't say which chart 🙂

[2021-01-21 17:19] DTTerastar opened #107 "503 Service Temporarily Unavailable on https://charts.deliveryhero.io/"
This is breaking us.  Please fix!

[2021-01-21 18:59] joshuastern commented on #107
Seems to be working again

[2021-01-22 10:02] max-rocket-internet commented on #107
Sorry about that. Like @joshuastern said, it should be working now. We had some issues with chartmuseum that are not resolved.

[2021-01-22 10:02] #107 closed

[2021-01-22 10:02] max-rocket-internet commented on #59
Closing due to inactivity.

[2021-01-22 10:02] #59 closed

[2021-01-29 02:54] lsl-2020 opened #108 "After adding "-headless", workers cannot connect to locust master."
Hi,

I have deployed this helm chart in AKS cluster. And it works very well. Here is my deployment command in Azure cloud shell:
[code]
(Current directory is /helm-charts/stable/locust, and it worked very well with the webpage-mode.)

However, after I simply added "--headless" in master-deployment.yaml, the workers cannot connect to locust master. Here is where I changed:
[code]

I just added one

[2021-01-29 09:57] max-rocket-internet commented on #108
Hi @lsl-2020

It's because there is a `readinessProbe` for the master here: https://github.com/deliveryhero/helm-charts/blob/master/stable/locust/templates/master-deployment.yaml#L103-L110

If you use headless mode, the HTTP server isn't started, the `readinessProbe` will fail, the pod will not receive requests via the k8s service.

I agree.

Both probes needs to be disabled in headless mode. Or w

[2021-02-01 08:50] lsl-2020 commented on #108
Hi Max,

Thanks for the hint. To find the root cause for failure, I took a simple step by disabling both probes and the chart works well with headless mode afterwards. Thank you for your kind help!

I think it might be a more elegant way to add a `headless` option and to judge its value for pipelines in `readinessProbe` instead of just switching ports. I am wondering if you have plans to include t

[2021-02-02 08:50] max-rocket-internet commented on #108
@lsl-2020 cool, can you test this PR? https://github.com/deliveryhero/helm-charts/pull/109

[2021-02-03 04:00] lsl-2020 commented on #108
@max-rocket-internet  Love to. I have already posted my test result and some suggestions under PR #109

[2021-02-04 02:31] #108 closed

[2021-03-04 18:12] przemolb opened #121 "Cannot use helm chart with CLI parameters"
I am trying to test various values from CLI using the following command:
[code]
and I am getting the following error:
[code]

A command without any parameters work well:
[code]
Any hint what is wrong ?

[2021-03-09 16:55] max-rocket-internet commented on #121
Hi @przemolb
The problem is that when you supply part of an item in a list, in your example `deployments[0]`, all the [other parts of that item](https://github.com/deliveryhero/helm-charts/blob/master/stable/cluster-overprovisioner/values.yaml#L46-L71) from the default values file are not used. The reason is that lists are not merged across values or values files. In this case `name` is required s

[2021-03-11 15:19] bilalcaliskan opened #125 "memory and cpu limit/request needed for node-problem-detector chart"

[2021-03-11 15:31] max-rocket-internet commented on #125
For what chart @bilalcaliskan?

[2021-03-11 17:00] bilalcaliskan commented on #125
@max-rocket-internet  sorry for the descriptionless issue. I mean [node-problem-detector](https://github.com/deliveryhero/helm-charts/tree/master/stable/node-problem-detector). I can open a PR for that if it's OK.

Regards.

[2021-03-11 17:08] bilalcaliskan commented on #125
There is already a configuration for that [here](https://github.com/deliveryhero/helm-charts/blob/master/stable/node-problem-detector/templates/daemonset.yaml#L87). Closing issue now. Sorry for your time.

[2021-03-11 17:08] #125 closed

[2021-03-17 21:30] recfab opened #128 "[stable/locust] Using an Ingress with the v0.9.10 returns 404"
Hello,

I'm installing this chart on one of our clusters. Unfortunately, when enabling the ingress the ingress controller returns the standard NGINX 404 Not Found error page, rather than routing correctly to the service. Removing the asterisk from the path fixes it. I was hoping there was an `ingress.hosts[].path` variable I could set in the values file, but it is hardcoded in the template.

The p

[2021-03-18 01:29] linzhengen commented on #128
I'm using an EKS Cluster and [AWS load balancer controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller), so I need to set the `/*` path.
It seems to be a problem due to environmental differences.

I think this way is better.

locust/templates/master-ingress.yaml
[code]

[2021-03-18 09:10] max-rocket-internet commented on #128
Ah I see. Yeah with nginx-ingress (probably the most common ingress controller), the `*` functions differently.

I will make a PR to fix.

[2021-03-18 09:29] #128 closed

[2021-03-18 09:30] max-rocket-internet commented on #128
@recfab let me know if chart version `0.9.11` works for you.

@linzhengen you will need to change the path value to suit your env/ingress controller

[2021-03-22 17:10] recfab commented on #128
Yes, version `0.9.11` works for me.

Thanks!

[2021-03-22 22:38] przemolb commented on #121
@max-rocket-internet  thanks - that works.

[2021-03-22 22:38] #121 closed

[2021-04-14 19:14] yurrriq opened #141 "Support topologySpreadConstraints in overprovisioner deployments"
https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/

[2021-04-15 07:51] max-rocket-internet commented on #141
Great idea!

[2021-04-15 07:54] #141 closed

[2021-04-16 09:19] xumengyan01-cell opened #145 "[stable/locust] Is that a problem?"
Thank you for your wonderful job.
I have a problem when I deploy this helm-locust:
### My Environment
1. AWS EKS a cluster with two nodes
2. EC2 instance type node: m5a.4xlarge
3. Kubernetes version: 1.8
4. ALB: [aws-alb-controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/installation/)
### What I wan to ask
**Here is the log of the slave, I do not know waht's

[2021-04-16 09:21] xumengyan01-cell commented on #145
This is my first time to ask question at github, maybe I lost some information about this issue.
I'm waiting for your answer, if you need any more information about my question, please contact me.
Thank you so much.

[2021-04-19 10:31] max-rocket-internet commented on #145
Yes it's a problem, it looks like your worker cannot resolve the DNS address of the master in your cluster, `locust`

[2021-04-23 10:19] androna-xm opened #154 "[stable/locust] ValueError: invalid literal for int() with base 10: ''"
I tried to install to minikube the locust with the following command as you proposed :
 `helm install my-release deliveryhero/locust`

but as soon as i start swarming i see these logs in my master node

`Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/gevent/pywsgi.py", line 999, in handle_one_response
    self.run_application()
  File "/usr/local/lib/python3.8/si

[2021-04-23 11:09] max-rocket-internet commented on #154
I just did this:

[code]

Then start the test in the UI at http://localhost:8089

And it works

![Screenshot 2021-04-23 at 13 08 20](https://user-images.githubusercontent.com/8859277/115863022-28d1eb80-a435-11eb-8c4e-699c6c670e1a.png)

[2021-04-23 11:10] max-rocket-internet commented on #154
Are you using the default example or your own locustfile?

[2021-04-23 15:12] androna-xm commented on #154
I am using the default example,i didn't change anything , and i have access to the UI. But when i press the "start swarming" i see the error in the master's log and therefore no statistics at the UI. I thought maybe it is due to python's version but still don't know how to fix this.

[2021-04-23 15:14] androna-xm commented on #154
Before the error , the logs seem to be fine :
`kubectl logs -f my-release-locust-master-58544cdcb7-dvgzj
[2021-04-23 10:11:47,627] my-release-locust-master-58544cdcb7-dvgzj/INFO/locust.main: Starting web interface at http://0.0.0.0:8089 (accepting connections from all network interfaces)
[2021-04-23 10:11:47,644] my-release-locust-master-58544cdcb7-dvgzj/INFO/locust.main: Starting Locust 1.4.3
[20

[2021-04-24 12:05] xumengyan01-cell commented on #145
I have resolved the problem, thank you for your answer.@max-rocket-internet

[2021-04-24 13:12] xumengyan01-cell commented on #145
@max-rocket-internet
But I have meet another problem, I don't know is it a problem or I have made a mistake to set it.
### What I want to do
 I want to use ingress to connet the `NodePort `service of locust
### What I have done
Until right now , I have use this helm-chart version `0.9.13` . And, I have tried `nginx-controller in minikube`, and `aws-alb-controller in EKS`.
### The problem

But I ha

[2021-04-26 07:36] max-rocket-internet commented on #145
I'm sorry, I don't know. Perhaps try repo or support for your ALB ingress.

[2021-04-26 07:38] max-rocket-internet commented on #154
I think the error is `swarm user_count = int(request.form["user_count"]) ValueError: invalid literal for int() with base 10: ''` but I think you will need to debug that yourself or with locust repo as it's not related to this Helm chart 🙂

[2021-04-27 04:10] xumengyan01-cell commented on #145
Ok, Thank you so much. Your job really helps me a lot.

[2021-04-28 06:06] #145 closed

[2021-05-03 10:07] megnere opened #166 "Worker not connecting to the master"
Hi, I am facing the issue below when trying to deploy the chart on Kubernetes (EKS). Any idea on how I can resolve this

[2021-05-03 10:05:38,099] locust-master-694777b9c5-sq44k/ERROR/locust.runners: RPCError found when receiving from client: ZMQ interrupted message
[2021-05-03 10:05:38,434] locust-master-694777b9c5-sq44k/INFO/locust.runners: Reset connection to worker
[2021-05-03 10:05:39,435] lo

[2021-05-03 11:16] max-rocket-internet commented on #166
Can you check you are using the latest locust chart version, `0.9.18`?

[2021-05-03 12:12] megnere commented on #166
yes I am using the latest
NAME    NAMESPACE       REVISION        UPDATED                                 STATUS          CHART           APP VERSION
locust  locust          1               2021-05-03 11:25:03.9653197 +0200 CEST  deployed        locust-0.9.18   1.4.4

[2021-05-03 15:59] max-rocket-internet commented on #166
I've also seen this issue, still trying to debug it.

[2021-05-10 14:20] Matthew-Beckett opened #169 "[stable/Cachet] Unable to set imagePullSecret via Helm Chart"
imagePullSecret is not a valid entry in values.yaml for Cachet's Helm chart

[2021-05-11 13:54] Matthew-Beckett commented on #169
Fixed merged in #170

[2021-05-11 13:54] #169 closed

[2021-05-15 02:50] SatoruItaya opened #173 "[stable/cluster-overprovisioner] Definitions of the PodDisruptionBudget in the Helm Chart"
I think the `PodDisruptionBudget` is necessary to evict cluster-overprovisioner pods normally.
So, I would like to define  the `PodDisruptionBudget` in the Helm Chart and add a parameter which controls if Helm Chart creates `PodDisruptionBudget` or not.

[2021-05-15 07:10] Constantin07 opened #174 "bump node-problem-detector to v0.8.8"
https://github.com/kubernetes/node-problem-detector/releases/tag/v0.8.8

[2021-05-17 10:20] max-rocket-internet commented on #173
I don't think so, I think the pod priority is enough? PRs welcome anyway 🙂

[2021-05-17 11:09] SatoruItaya commented on #173
The reason why I thought is Cluster autoscaler does not work in scale-down.
Cluster autoscaler stops terminating nodes if pods without PDB works on them.

[2021-05-17 14:18] max-rocket-internet commented on #173
Oh I see, so the cluster-overprovisioner pods prevent node scale down. Well test using a PDB locally and if it works then please open a PR 🚀

[2021-05-17 14:24] SatoruItaya commented on #173
I see, I will create a PR later.
Thanks for your response.

[2021-05-18 08:36] #174 closed

[2021-05-22 10:39] AnatoliiStepaniuk opened #180 "Could not find any locustfile! Ensure file ends in '.py'"
Hello!

I follow the instructions in README.
Created configmaps from my local files (validated that they were created successfully):
`kubectl create configmap my-loadtest-locustfile --from-file locustfile.py`
`kubectl create configmap my-loadtest-lib --from-file lib`

This is the content of `locustfile.py`:
[code]

The contents or `lib` folder were copied from the example.

Then I install Helm cha

[2021-06-01 14:16] hamza-tumturk opened #181 "Source for images"
Hi,
I'm trying to find the source code for the image `940776968316.dkr.ecr.eu-west-1.amazonaws.com/deliveryhero/kubecost-reports-exporter`.
Is that open sourced anywhere?
Thanks!

[2021-06-10 09:39] dmitrii-listvin commented on #180
I had the same problem and found a solution:
1. Rename your locustfile ("locustfile.py") to "main.py"
2. Remove configmap my-loadtest-locustfile
3. Recreate it again with `kubectl create configmap my-loadtest-locustfile --from-file locustfile.py`
4. Try installing helm chart again

It worked for me.

[2021-06-10 09:53] #180 closed

[2021-06-13 07:09] roshan8 opened #182 "[stable/locust] Installation gets stuck at ContainerCreating"
I tried to install the Locust from stable/locust. However, The installation gets stuck every time with pods getting stuck in `ContainerCreating` state.

[code]

[code]

Initially I tried creating configMap before running helm install. Later just installed chart without configmap(assuming it should take the default locustfile). Both the time installation failed.

P.S: I'm using GKE cluster.

[2021-06-13 07:29] roshan8 commented on #182
@max-rocket-internet Also tried the official locust repo. It's throwing 404 while adding the repo.

[2021-06-13 20:00] max-rocket-internet commented on #181
Hey @nyambati can you either update the chart to use a public image, make our image public or add a Dockerfile to this chart?

[2021-06-13 20:00] #173 closed

[2021-06-13 20:02] max-rocket-internet commented on #182
Hi @roshan8, I think the error here is clear?

[code]

You need to create 2 configmaps with these names 🙂

Which repo?

[2021-06-14 03:22] roshan8 commented on #182
@max-rocket-internet This is the repo throwing 404: https://github.com/locustio/helm-chart

As per the [readme](https://github.com/locustio/helm-chart/blob/master/README.md), The chart would use the default config if we don't create configmap explicitely. So that threw me off a bit!

Also, I'm unable to create locustfile configmap from .py file.
[code]
This command fails to create config map but t

[2021-06-14 18:49] nyambati commented on #181
@max-rocket-internet @hamza-tumturk I have updated the chart to include the source code and the reference to public repository. changes can be found in this PR #183

[2021-06-15 17:17] rganeshsharma commented on #182
Hi Guys please throw some light here...I am trying to integrate Prometheus with Node-Problem-Dectector and want to know which IP to assign to Prometheus Exporter in values.yaml ?

Applying Prometheus Node Exporter IP gives error that IP Cannot be binded. May I know what IP to assign for Prometheus Exporter. Please Help Guys.

[2021-06-15 17:19] rganeshsharma opened #184 "Prometheus Integration with Node-Problem-Dectector which IP to assign for Prometheus Exporter?"
Hi Guys please throw some light here...I am trying to integrate Prometheus with Node-Problem-Dectector and want to know which IP to assign to Prometheus Exporter in values.yaml ?

Applying Prometheus Node Exporter IP gives error that IP Cannot be binded. May I know what IP to assign for Prometheus Exporter. Please Help Guys.

[2021-06-15 18:20] roshan8 commented on #182
@rganeshsharma Please don't spam on unrelated issues. Have some patience till maintainers address your [issue](https://github.com/deliveryhero/helm-charts/issues/184)

[2021-06-16 12:09] rganeshsharma commented on #182
@roshan8 grow up son :)

[2021-06-17 10:11] rganeshsharma commented on #184
We can deploy the NPD with Prometehus Address as "0.0.0.0" but actual Prometheus Node Exporter address will not get binded? Please advise?

[2021-06-18 07:36] rganeshsharma commented on #184
Guys any help would be appreciated!

[2021-06-22 15:24] klolik opened #186 "Helm repo yields 404 for http head requests"
Hey guys,
Background: trying to setup Artifactory as a proxy for https://charts.deliveryhero.io/

However HTTP HEAD requests for https://charts.deliveryhero.io/ and https://charts.deliveryhero.io/index.yaml yield 404.
Normal GET method works fine obviously. Might be blocked by CloudFlare.

This seems to make the repo not being recognised properly by Artifactory. I'd appreciate help enabling it.

T

[2021-06-22 15:28] vcmaxfield commented on #186
Same issue.

[2021-06-22 18:23] max-rocket-internet commented on #182
This repo was never setup correctly. See https://github.com/locustio/helm-chart/issues/2

I support this copy of the locust chart here in this repo, not the other one.

If the configmap fails to create then that is your problem. I will close this now.

[2021-06-22 18:23] #182 closed

[2021-06-22 18:24] max-rocket-internet commented on #181
Resolved in https://github.com/deliveryhero/helm-charts/pull/183

[2021-06-22 18:24] #181 closed

[2021-06-22 18:26] max-rocket-internet commented on #186
I forget our implementation but I think it's nginx-ingress + chartmuseum + AWS s3. Perhaps @sietevecesmal knows how to allow HEAD requests so that our repo can be used behind an Artifactory proxy?

[2021-06-22 18:27] max-rocket-internet commented on #166
The issue went away for us. Please reopen the issue if it's still a problem for you.

[2021-06-22 18:27] #166 closed

[2021-06-22 18:27] #154 closed

[2021-06-28 10:25] rganeshsharma commented on #184
@max-rocket-internet Please could you explain which Prometheus IP address to bind to NPD? I am using your Helm chart and it deploys the daemonset but doesn't work when I pass Prometheus Node Exporter as they both want to consume same 9100 port. Please help

[2021-07-02 18:12] yosri2005 opened #196 "Extra command args for master + Using basic auth causes failure for readinessProbe"
Hello,

I noticed a couple items when using this chart, let me know if they should be broken up into two separate issues, but for now...

1) in the values.yaml, when I have `args_include_default: true`, and I want to include extra arguments in `args: []`, it ends up removing the default arguments when I really expected it to add to them. I can see in the template how the if-condition is causing th

[2021-07-05 07:27] max-rocket-internet commented on #196
Hi @yosri2005

1. I think `args_include_default` is intended to be used like "use the default args" or "you provide all args yourself". Not a mix. So if you want extra args then you must provide them all in that case.
2. I see. I think it might be worth adding all probes to values.yaml or adding an option to disable probes completely. This would solve the problem for you.

Of course you do, you ca

[2021-07-05 07:29] max-rocket-internet commented on #184
Sorry but I don't know. PRs are welcome if/when you work out what you need 🙂

[2021-07-06 12:47] yosri2005 commented on #196
Thanks @max-rocket-internet, I will look into it!

[2021-07-06 18:40] yosri2005 commented on #196
@max-rocket-internet [Pull Request 199](https://github.com/deliveryhero/helm-charts/pull/199) is now open for you review. Thank you.

[2021-07-14 14:27] yosri2005 opened #202 "b64enc function passed multiple arguments"
Hi @max-rocket-internet. This is related to my previous PR. I noticed that an error is thrown because the `b64enc` method is being passed multiple arguments, when really the results of the `cat` function should be piped to it. I made the change, created the PR and checks are passing:

https://github.com/deliveryhero/helm-charts/pull/201

Thanks

[2021-07-14 18:03] #196 closed

[2021-07-14 19:35] #202 closed

[2021-07-19 20:14] kuuji opened #205 "Using locust chart without config map"
Hey folks 👋 !

Trying to gauge interest for an option to point to a locust file within the container. I'm working on a setup with this locust chart that makes it a bit complicated to use a config map and I would rather just point to a file inside a custom made image.

Currently the only way to do this would be to
- override the image for both worker and master
- change the args for both image to p

[2021-07-21 10:45] max-rocket-internet commented on #205
I like the PR idea 🙂

[2021-07-21 16:05] kuuji commented on #205
Awesome, I'll take a stab at it ;)

[2021-07-27 09:06] pramavi opened #209 "To mount a file as a volume"
I have a file which is greater than 3MB. I need this file as an input for my locust. I need a placeholder to mount this file but not as a config map as the size is big.

[2021-07-27 09:12] #209 closed

[2021-07-27 09:12] pramavi commented on #209
Wrong id

[2021-07-27 09:16] gjangithub opened #210 "Mount a file as a volume mount"
I have a file which is greater than 3MB. I need this file as an input for my locust. I need a placeholder to mount this file but not as a config map as the size is big.

[2021-08-05 11:25] Rob4579 commented on #210
Hi @gjangithub!  I created a PR that mounts kubernetes secrets into your desired location -> #214

You probably don't need your file to be a secret but at least you'll have some mechanism to mount it.

[2021-08-09 17:44] Ghazgkull opened #216 "[cluster-overprovisioner] Helm chart doesn't honor namespace"
The cluster-overprovisioner helm chart doesn't honor the namespace passed in to helm. This is because the chart is missing the typical metadata configuration on its kubernetes resources.

To reproduce this problem:
1. `helm fetch deliveryhero/cluster-overprovisioner --version 0.7.2 --untar=true`
2. `helm template my-release cluster-overprovisioner --namespace overprovisioner  > cluster-overprovisi

[2021-08-11 13:19] cyberw opened #219 "Maybe update the default locust version?"
Latest release is now 2.1 :) @max-rocket-internet

[2021-08-16 18:30] max-rocket-internet commented on #219
PRs welcome 😅

[2021-08-16 18:35] cyberw commented on #219
I could do that, but I have no way of testing it so... do you still want me to?

[2021-08-16 18:39] max-rocket-internet commented on #219
@cyberw I mean the community will do it when it's wanted, the locust chart here has many contributors. I am on holiday until next week but sure you can submit it if you want, the CI will test it for you 🙂

[2021-08-17 17:14] #219 closed

[2021-09-01 15:49] ahmedmfadel opened #234 "[Node-problem-detector] Streaming of warnings in namespace events"
I tried deploying node-problem-detector using helm chart and a custom values.yaml file but I got these warnings in the events

`87s         Warning   FailedMount              pod/node-problem-detector-crcn4   MountVolume.SetUp failed for volume "custom-config" : failed to sync configmap cache: timed out waiting for the condition

87s         Warning   FailedMount              pod/node-problem-dete

[2021-09-03 09:49] max-rocket-internet commented on #234
Hi @ahmedmfadel, you can always use a previous version of the chart until this issue is fixed.

PRs welcome 🙂

[2021-09-06 18:19] rajaSahil opened #240 "[Node-problem-detector] helm template --namespace <NAMESPACE> does not set metadata.namespace on daemonset resource yaml"
### Issue
I'm using the `helm template` command to generate the resource yamls for node-problem-detector.
But `helm template --namespace <NAMESPACE> ...` does not set **metadata.namespace** field on the daemonset yaml due to which daemonset pods are getting installed in the default namespace.

To reproduce the issue:
[code]
#### Reason

- This is because the daemonset template yaml is missing meta

[2021-09-07 07:59] #240 closed

[2021-09-07 08:00] #216 closed

[2021-09-08 16:51] PiyushBhatewara opened #244 "[stable/locust]: failure to install when auth is enabled"
Locust chart version: 0.20.2
When auth is enabled by -

[code]
we are getting an error
[code]

@yosri2005

[2021-09-11 22:02] #234 closed

[2021-09-26 16:00] samip5 opened #251 "[stable/node-problem-detector]: arm64 support"
There's no such support on the image, so it fails to launch on arm64.

[2021-09-27 07:03] max-rocket-internet commented on #251
We don't maintain NPD itself, just the helm chart. Please see here: https://github.com/kubernetes/node-problem-detector/issues/586

[2021-09-27 07:03] #251 closed

[2021-10-12 12:47] shtoma opened #257 "[stable/locust] WebAuth Basic64 encoding is incorrect"
When master.auth.enabled=true, master-deployment.yaml template generates base64 {username}:{password} string here.
https://github.com/deliveryhero/helm-charts/blob/master/stable/locust/templates/master-deployment.yaml#L138

It uses `cat` function, but it inserts white spaces between strings.
https://masterminds.github.io/sprig/strings.html#cat

Given
[code]

### BAD
[code]

### GOOD
[code]

[2021-11-17 17:43] thesolution opened #268 "[stable/locust] Artifacthub.io's Image Security Rating is F for this chart"
This might be a locustio/locust issue since this chart is using the canonical locustio docker image.
https://artifacthub.io/packages/helm/deliveryhero/locust

It is a cause for concern when using this chart, but the other locust charts on the site don't show the "image security rating".

[2021-11-17 20:54] max-rocket-internet commented on #268
Thanks @thesolution but as you noted, we don't maintain the docker image, just the chart. It's best create an issue in the locust repo and they can follow it up there 🙂

[2021-11-17 20:54] #268 closed

[2021-11-17 20:56] max-rocket-internet commented on #268
I think this might be because they are custom built images and not pre-scanned by whatever service Artifacthub uses.

[2022-01-03 00:38] davidkarlsen opened #273 "[stable/wiremock] avoid deprecated ingress api"
avoid deprecated API in:
https://github.com/deliveryhero/helm-charts/blob/master/stable/wiremock/templates/ingress.yaml#L4
and move to versions supported by recent k8s versions.

[2022-01-03 09:00] max-rocket-internet commented on #273
Sure, PRs welcome 👍

[2022-01-17 05:53] edisonyang001 commented on #145
I have this problem too, you solved it like this？

[2022-01-18 21:40] L1ghtman2k opened #276 "[node-problem-detector] Should mount /dev/kmsg by default"
kernel-monitor.json references /dev/kmsg:
https://github.com/kubernetes/node-problem-detector/blob/e7fe0b20dc8279130d41218d12802d85d6730728/config/kernel-monitor.json#L3

However, it is not mounted by default to the container.

Our workaround is to add the following to values.yaml:
[code]

[2022-01-19 09:09] max-rocket-internet commented on #276
PRs welcome 🙂

[2022-02-24 11:07] allenheydari2019 opened #287 "[pg-repack-scheduler] Keep Looping"
The logic on .sh file keeps looping around the same table and won't go to the next. It keeps adding J to the pg_repack command for infinite loop.

[2022-02-24 18:44] max-rocket-internet commented on #287
@allenheydari2019 what chart are you talking about? there's over 40 charts in this repo...

[2022-02-24 20:08] allenheydari2019 commented on #287
Hey man,

 I am talking about your cool run_pg_packer.sh.

When I run it as a stand alone script in corntab it keeps looping through
one table and adds -j infinitely.

On Thu, Feb 24, 2022, 1:45 PM Max Williams ***@***.***> wrote:

[2022-02-28 08:20] max-rocket-internet commented on #287
Perhaps @Naginder-Singh can help you 🙂

[2022-03-01 11:26] allenheydari2019 commented on #287
Would you help please? 🙃

On Mon, Feb 28, 2022, 3:21 AM Max Williams ***@***.***> wrote:

[2022-03-03 20:35] allenheydari2019 commented on #287
Any hope?

On Tue, Mar 1, 2022, 6:26 AM Allen Heydari ***@***.***> wrote:

[2022-03-04 08:20] max-rocket-internet commented on #287
@allenheydari2019 all the code is in the chart, including the dockerfile and scripts. You are welcome to debug it yourself and creating a PR.

[2022-04-07 06:26] masterkain opened #297 "[stable/listmonk] run upgrade job"
https://github.com/deliveryhero/helm-charts/blob/master/stable/listmonk/templates/init-db.yaml#L23

[code]

when upgrading the image tag this happens, I would suggest to also run the init script with another `listmonk --upgrade` command as it, per doc, should be idempotent.

[2022-04-13 20:23] jz-wilson opened #300 "Latest Version of Locust uses venv"
Hello,

The latest version of locust uses venv so its not possible to run the pip install package step if they are required. I had to update the locustcmd value to `/opt/venv/bin/locust`. But when starting the container it fails. We need an option to specify parameters for pip too.

Error on container on start:
[code]

[2022-05-05 18:49] yogeek opened #307 "[stable/node-problem-detector] "permission denied" when using script in custom_monitor_definitions"
With this values.yaml to add a custom plugin :

<details>
<summary>values.yaml</summary>

[code]

</details>

and this installation process :
[code]

the resulting NPD pods logs contain error message because the custom plugin script has no execution permission :
`Error in starting plugin "/custom-config/drainme.sh": error - fork/exec /custom-config/drainme.sh: permission denied`

<details>
<summar

[2022-05-24 17:00] sstewart-hirez opened #314 "Multiple namaspaces for Locust"
Are there any plans to support multiple namespaces within one cluster for the Locust chart?

[2022-05-24 17:43] max-rocket-internet commented on #314
Not sure what you mean @sstewart-hirez but you can install that chart into any namespace you like?

[2022-05-26 21:14] sstewart-hirez opened #317 "Concurrent request upper bound"
Hi there

Thank you for this contribution to the community. I would like to scale to 10 million concurrent requests from a single Kubernetes cluster. Curious if you all have data on concurrent request upper bound or typical Kubernetes configs you use with this chart

Cheers,
Stew

[2022-05-30 07:38] max-rocket-internet commented on #314
No problem 🙂

[2022-05-30 07:51] max-rocket-internet commented on #317
Hi @sstewart-hirez,
It depends a lot on what is happening in your test. Are you storing a lot in memory or doing complicated calculations? Or just generating basic GET requests?

We have generated about 2M RPM using:

- locust master: 1 core request, 2 core limit, 1GB or memory
- locust workers: 50 pods, 1 core and 2GB each

You really need to monitor your load test infra to ensure it's healthy. T

[2022-05-31 19:26] sstewart-hirez commented on #317
Thanks @max-rocket-internet! I will take these suggestions into account and also experiment with the `FastHttpUser` class.

Also what is the most expeditious way to update a Locustfile on the cluster? Want to iterate quickly when tweaking the file

[2022-06-01 07:45] max-rocket-internet commented on #317
Then do not put your locustfile in your own docker image, many people do this. Just store the locustfile(s) in a k8s `configMap`, then it can be updated with Helm or kubectl. Then you mount the configmap in the locust pods. When you update the `configMap` you will need to restart the pods so they re-read the files in the `configMap`. The [readme](https://github.com/deliveryhero/helm-charts/tree/ma

[2022-06-03 21:03] sstewart-hirez commented on #317
Incorporating this guidance. Thanks Max!

[2022-06-06 18:32] finchr opened #319 "[stable/k8s-resources] allow Secret type other than Opaque"
I'm using k8s-resources to create kubernetes secrets for access to a private registry. The Secrets created default to the type Opaque but they need to be of type `kubernetes.io/dockerconfigjson`.

I have submitted pull request [318](https://github.com/deliveryhero/helm-charts/pull/318) to address this issue.

[2022-06-07 04:59] honeychawla2 opened #320 "Not able to stop pods once locust tests are over"
I am using Locust helm-chart but not able to stop the pods once the tests are completed. Is there any way to stop the pods as soon as tests are completed?
Note:  I am running the tests in headless mode with 3m run-time.

[2022-06-07 07:53] max-rocket-internet commented on #184
Closing due to inactivity. Feel free to reopen if you have any updates.

[2022-06-07 07:53] #184 closed

[2022-06-07 07:53] max-rocket-internet commented on #205
Closing due to inactivity. Feel free to reopen if you have any updates.

[2022-06-07 07:53] #205 closed

[2022-06-07 07:54] #244 closed

[2022-06-07 07:54] max-rocket-internet commented on #257
Closing due to inactivity. Feel free to reopen if you have any updates.

[2022-06-07 07:54] #257 closed

[2022-06-07 07:58] max-rocket-internet commented on #320
No there is not unless you manually scale the deployment to 0 replicas.

If you want to have a load test run to completion and then it would need to be run as a k8s  `Job` which the current version of the chart does not support. PRs welcome if someone wants to add this functionality 🙂

[2022-06-07 19:42] sstewart-hirez opened #321 "Distribute workers evenly across nodes"
Hi there I am testing with cluster that starts with 100 nodes and with 200 workers. I noticed the workers do not evenly distribute across the nodes so I made change below to work deployment's template.spec. What do you think about incorporating this change as a parameter like worker.topologySpreadConstraints.enabled with default value false?

[code]

[2022-06-08 07:05] max-rocket-internet commented on #321
Sure but it should be disabled by default I think. i.e. make no changes to existing deployments, doesn't include any changes. You can just copy the approach taken here:

- https://github.com/deliveryhero/helm-charts/blob/master/stable/locust/templates/master-ingress.yaml#L20-L23
- https://github.com/deliveryhero/helm-charts/blob/master/stable/locust/values.yaml#L141

[2022-06-10 12:15] prabhakartalari opened #325 "Not able to deploy cachet any version on k8s"
I am trying to deploy the cachet 2.3.15+ version on k8s but getting the following error for deployment component

can't create temp file '/var/www/html/.envXXXXXX': Read-only file system

Could some one help is there any solution for this as we have tried mounting the file system, init container etc but nothing worked out.

[2022-06-10 20:02] #321 closed

[2022-06-14 11:00] ArchiFleKs opened #326 "[stable/node-problem-detector] Policy v1beta1 depreciation fail"
This commit https://github.com/deliveryhero/helm-charts/commit/0f7f8918992f8cd4733827ef1ce4e1f0ab1ef9d0 broke on EKS v1.224 where policy v1 does not contain PSP.

[2022-07-09 09:50] LeBronQ commented on #145
May I ask how you solved the problem?I also met with the same problem. Thanks a lot!

[2022-07-13 14:43] oxr463 opened #345 "locust: installing extensions?"
Reference(s):
- https://github.com/SvenskaSpel/locust-plugins

[2022-07-18 07:35] #273 closed

[2022-08-03 02:38] donis88 commented on #345
@oxr463
In my case...
my own image is not working

[code]

[code]

helm upgrade --install locust deliveryhero/locust -f values.yaml

but just **CrashLoopBackOff**
master pod logs is
`exec /bin/sh: exec format error`

can you help me?

[2022-08-03 02:56] donis88 commented on #345
This was done by changing the Docker build from aarch64 to linux/amd64 .

[2022-08-03 07:17] max-rocket-internet commented on #345
@donis88 if you just want to install pip packages then you can just set this: https://github.com/deliveryhero/helm-charts/blob/master/stable/locust/values.yaml#L14-L15

[2022-08-09 12:39] anoophp777 opened #354 "Wiremock documentation outdated"
Wiremock documentation seems outdated: https://artifacthub.io/packages/helm/deliveryhero/wiremock

For example:

`helm install my-wiremock deliveryhero/wiremock \
  --set consumer=my-consumer
  --set "consumer.stubs.my-service1-stubs=/mnt/my-service1-stubs" \
  --set "consumer.stubs.my-service2-stubs=/mnt/my-service2-stubs"`

There is no consumer, its consumer.name as per Default Values:

`consume

[2022-08-09 14:22] z0rc opened #355 "Latest chart releases sometimes aren't availabe in repo"
I'm seeing strange behavior with this chart repo where latest chart releases are available for some time, but then gone.

For example at the moment of writing I don't see latest node-problem-detector release
[code]
In the same time I can successfully download previous version 2.2.2.

Also observing similar behavior with cluster-overprovisioner.

[2022-08-09 16:35] max-rocket-internet commented on #355
You're right @z0rc! I'm debugging it now.

[2022-08-09 16:36] max-rocket-internet commented on #354
Hi @anoophp777, it seems we have a problem syncing new versions of charts, I'm debugging it now...

[2022-08-09 19:39] max-rocket-internet commented on #355
Hi @z0rc,
OK, I think I've resolved it, it was related to https://github.com/helm/chartmuseum/issues/444

Can you check again?

Also, note that chart version `2.2.3` of node-problem-detector uses docker image tag `v0.8.11` which seems to not exist yet: https://github.com/kubernetes/node-problem-detector/issues/692

[2022-08-09 19:39] max-rocket-internet commented on #354
Hi @anoophp777
I've fixes the issue, it was related to https://github.com/helm/chartmuseum/issues/444
Can you recheck?

[2022-08-09 22:35] akuzni2 opened #356 "locust issue with pip installed packages"
values file
[code]

doing
[code]

logs

[code]

[2022-08-10 08:50] z0rc commented on #355
Thanks, chart repo behaves okay on my end now.

Noticed this too, thanks for heads up.

[2022-08-10 08:50] #355 closed

[2022-08-10 14:17] akuzni2 commented on #300
is there any update on this? I'm encountering the same issue

[2022-08-10 14:29] akuzni2 commented on #355
@max-rocket-internet I'm noticing this behavior as well

[code]
is there a workaround for this?

[2022-08-10 14:35] akuzni2 commented on #356
actually seems to be working now with version 0.27.1

[2022-08-10 15:54] max-rocket-internet commented on #300
Please see: https://github.com/deliveryhero/helm-charts/issues/356

I think it's now working.

[2022-08-10 15:54] #300 closed

[2022-08-24 16:49] voidlily opened #367 "[stable/cloudhealth-collector] Add volume support to helm chart"
The cloudhealth collector uses `/tmp` as scratch space before submitting the data upstream. I'd like to be able to mount a volume here so I can keep the root filesystem read only.

Currently, the helm chart doesn't have a `volumes` section in the deployment template. The change here would be to add a `volumes` section.

[2022-08-24 16:51] voidlily commented on #367
Relevant logs mentioning this scratch space

[code]

[2022-08-24 16:54] voidlily commented on #367
cloudhealth appears to have an official helm chart now for anyone else looking at this

https://cloudhealth.github.io/helm/
https://github.com/CloudHealth/helm/

[2022-08-25 07:47] max-rocket-internet commented on #367
Cool, PRs welcome 🙂

Interesting. Do you think theirs is better than this one? Does it have the volume feature you want?

[2022-08-25 13:18] voidlily commented on #367
Cloudhealth implemented it by checking for read only root filesystem being set and automaticallly mounting an emptyDir in /tmp for you

[2022-08-25 18:01] akuzni2 opened #369 "feature request - Locust - add dnsConfig specifications as an option"
I'd like to add dnsConfig specifications into the master and worker deployment configuration sections.

https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy

this will help my team as we have some specific dns requirements.

would like to ask before I to attempt to do this.

[2022-08-28 02:31] prabhakartalari commented on #325
Please close

On Sun, Aug 28, 2022, 7:47 AM github-actions[bot] ***@***.***>
wrote:

[2022-08-29 02:18] #354 closed

[2022-08-29 07:16] #325 closed

[2022-08-30 21:29] rbjorklin opened #372 "[node-problem-detector] The default image tag is missing"
The default image tag: `k8s.gcr.io/node-problem-detector/node-problem-detector:v0.8.11` doesn't actually exist in the upstream repo:

[code]

Did something fail during the release process?

[2022-08-31 08:20] max-rocket-internet commented on #372
@rbjorklin I can't see, you would need to check with https://github.com/kubernetes/node-problem-detector as we only host the chart here.

[2022-08-31 16:20] #372 closed

[2022-09-01 03:32] zerkms opened #373 "[stable/node-problem-detector] switch from scheduler.alpha.kubernetes.io/critical-pod to priorityClassName"
Entire warning message:

[code]

[2022-09-01 07:52] max-rocket-internet commented on #373
Cool, PRs welcome 🙂

[2022-09-01 07:53] #319 closed

[2022-09-01 08:50] zerkms commented on #373
https://github.com/deliveryhero/helm-charts/pull/374

[2022-09-02 02:18] #326 closed

[2022-09-02 02:18] #320 closed

[2022-09-02 02:18] #297 closed

[2022-09-02 02:18] #287 closed

[2022-09-02 11:00] #373 closed

[2022-09-02 11:46] yogeek commented on #307
/reopen please

[2022-09-02 12:32] max-rocket-internet commented on #307
@yogeek I think you can just click `Reopen` button 🙂

[2022-09-02 13:40] szecsik opened #375 "Helm chart manifest is unavailable"
Hi,

I'm trying to install the node problem detector helm chart, but looks like the package not found in the k8.gcr registry. Getting the below issue.

Failed to pull image "k8s.gcr.io/node-problem-detector/node-problem-detector:v0.8.11": rpc error: code = Unknown desc = Error response from daemon: manifest for k8s.gcr.io/node-problem-detector/node-problem-detector:v0.8.11 not found: manifest unkn

[2022-09-02 13:57] max-rocket-internet commented on #375
https://github.com/deliveryhero/helm-charts/issues/372

[2022-09-02 19:42] yogeek commented on #307
@max-rocket-internet do not see such button on my side sorry

[2022-09-03 02:18] #276 closed

[2022-09-05 07:18] max-rocket-internet commented on #307
Oh I see, sorry!

[2022-09-12 05:01] jgournet opened #376 "[stable/node-problem-detector] new app version 0.8.12"
Upstream issue https://github.com/kubernetes/node-problem-detector/issues/692 has been fixed and they released a new appVersion.
Would it be possible to update the helm chart version ?

Thank you in advance

[2022-09-12 07:29] max-rocket-internet commented on #376
Sure, open a PR 🚀

[2022-09-12 11:48] z0rc opened #377 "[stable/k8s-resources] Ingress `networking.k8s.io/v1` support"
Current version of https://github.com/deliveryhero/helm-charts/blob/master/stable/k8s-resources/templates/ingress.yaml template doesn't really support up-to-date Ingress API version `networking.k8s.io/v1`. API's spec changes are significant enough to not fit into current `.hosts[].paths[]` schema. Also support of `ingressClassName` is missing too.

Adding support new API version requires either:
-

[2022-09-12 14:14] BassOfLion opened #378 "ImagePullBackOff node-problem-detector:v0.8.11"
When upgrading from chart version 2.2.2 to 2.2.4 pod hangs in ImagePullBackOff state because newer image is not found:

`Failed to pull image "k8s.gcr.io/node-problem-detector/node-problem-detector:v0.8.11": rpc error: code = NotFound desc = failed to pull and unpack image "k8s.gcr.io/node-problem-detector/node-problem-detector:v0.8.11": failed to resolve reference "k8s.gcr.io/node-problem-detecto

[2022-09-12 14:51] max-rocket-internet commented on #378
https://github.com/kubernetes/node-problem-detector/issues/692
https://github.com/deliveryhero/helm-charts/issues/372
https://github.com/deliveryhero/helm-charts/issues/376

[2022-09-12 20:37] zestrells commented on #378
@BassOfLion This should now be solved 😄 https://github.com/deliveryhero/helm-charts/pull/379#event-7370838731

[2022-09-12 20:37] zestrells commented on #376
@jgournet This should now be solved 😄 https://github.com/deliveryhero/helm-charts/pull/379#event-7370838731

[2022-09-13 09:13] BassOfLion commented on #378
@zestrells unfortunately it still doesn't work. Image not found:

[code]
I solved my issue by upgrading helm chart to v2.2.5 which was released recently. It uses v0.8.12 of node-problem detector.

[2022-09-13 09:17] #378 closed

[2022-09-13 12:59] #377 closed

[2022-09-13 21:47] akuzni2 commented on #369
bump

[2022-09-14 02:17] #367 closed

[2022-09-14 07:29] max-rocket-internet commented on #369
Feel free to open a PR @akuzni2

[2022-09-17 02:38] kthompson23 opened #383 "Add configurable resources to node-local-dns"
Thank you for publishing the node-local-dns chart to Artifact Hub. The chart has resource requests defaults but no option to configure resource limits.

Would you accept a PR to make resource requests and limits configurable? I would leave the default request values already specified.

[2022-09-19 07:24] max-rocket-internet commented on #383
@kthompson23 of course we will, it would be very welcome 🙂

[2022-09-20 13:02] cezaryulita opened #385 "[stable/cachet:1.3.1] Duplicated definition of DB_DRIVER env variable"
Having configmap.yaml defined as
[code]
effectively results in release being undeployable by rendering output as
[code]
that causes:
Helm install failed: error while running post render on files: map[string]interface {}(nil): yaml: unmarshal errors: line 28: mapping key "DB_DRIVER" already defined at line 19

[2022-09-21 21:11] kthompson23 commented on #383
@max-rocket-internet Sorry for the delay, I submitted a PR.

[2022-09-22 07:57] max-rocket-internet commented on #383
Resolved in https://github.com/deliveryhero/helm-charts/pull/386

[2022-09-22 16:50] bhoslepu opened #387 "[stable/locust] ingress annotation - YAML parse error on locust/templates/master-ingress.yaml: error unmarshaling JSON"
Trying to add annotation to ingress:
`helm upgrade --install -f values.yaml local deliveryhero/locust --set ingress.annotations.cert-manager\.io/cluster-issuer="letsencrypt"`

Getting below error:
`Error: UPGRADE FAILED: YAML parse error on locust/templates/master-ingress.yaml: error unmarshaling JSON: while decoding JSON: json: cannot unmarshal object into Go struct field .metadata.annotations of

[2022-09-23 02:17] #375 closed

[2022-09-23 03:38] bhoslepu commented on #387
Resolved issue by adding double quote to key as well:
`helm upgrade --install -f values.yaml local deliveryhero/locust --set ingress.annotations."cert-manager\.io/cluster-issuer"="letsencrypt"`

[2022-09-23 03:38] #387 closed

[2022-09-27 02:17] #307 closed

[2022-10-03 02:16] #376 closed

[2022-10-05 02:16] #369 closed

[2022-10-10 02:17] #385 closed

[2022-10-15 15:28] Becram commented on #385
@cezaryulita  https://github.com/deliveryhero/helm-charts/pull/393

[2022-11-07 16:17] elias5000 opened #403 "In Search of a Copyright String"
Hi,

We're using one of your helm charts (cluster-overprovisioner) in our setups. It serves us really well. Thanks for sharing.
I now need to add it as a component to our documentation and would need a copyright string that I can give to our open source department for our assessment. Could you please add a string to the repository that I can use in our documentation? That would be greatly apprecia

[2022-11-08 16:18] elias5000 commented on #403
In case of the cluster-overprovisioner all the interesting parts are in the chart.
Unfortunately, the license alone is not sufficient. I'm in the process of getting out paperwork regarding legal compliance straight and this wants a copyright string for every component we use in the form of "Copyright <year> <copyright owner>". It would be nice if you have anything for me that I can put in the form

[2022-11-09 11:09] max-rocket-internet commented on #403
@elias5000 could we just add "Copyright © 2022 Delivery Hero" in the README?

[2022-11-09 12:13] justdan96 opened #404 "[stable/node-problem-detector] PSP API Versions Appear to Be Incorrect"
I can see in https://github.com/deliveryhero/helm-charts/pull/315 that the PSP policy API version was changed for cluster versions over 1.21, however according to K8s documentation the PodSecurityPolicy object at the policy/v1beta1 API version is still fine up until 1.25: https://kubernetes.io/docs/reference/using-api/deprecation-guide/

At the moment this causes issues since there is no PodSecuri

[2022-11-09 12:37] elias5000 commented on #403
That would be perfect.

[2022-11-09 18:49] max-rocket-internet commented on #404
Cool, PRs welcome 🙂

[2022-11-11 08:26] #404 closed